#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GoAgent
Exec=/home/don/goagent/local/proxy.py
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
